<div class="card" style="width: 18rem;">
  <div class="card-body note-card">
    <div *ngIf="noteInfo.active">
    <h5 class="card-title note-card__title">{{noteInfo.name}}</h5>
    <p class="card-text note-card__date">{{noteInfo.date}}</p>
    <p class="card-text note-card__text">{{noteInfo.text}}</p>
      <button
        (click)="actionNote.emit(noteInfo.id)"
        class="btn note-card__action">Удалить?</button>
    </div>
    
    <div *ngIf="!noteInfo.active">
      <p class="card-text">Заметка удалена</p>
      <button (click)="actionNote.emit(noteInfo.id)"
        class="btn note-card__action">Востановить?</button>
    </div>
  </div>
</div>
