<div class="header container">
  <nav class="navbar header__box">
    <div class="row">
      <div class="col">
        <h4 class="header__title">
          Мои заметки
        </h4>
        
        <div class="input-group header__search">
          
          <input
            #inputserch
            type="text"
            (keyup)=" (inputserch.value === '') && this.onSerch('') "
            class="form-control header__input "
            placeholder="Поиск по названию"
            aria-describedby="basic-addon1">
          
          <div class="input-group-prepend">
            <button
              (click)="this.onSerch(inputserch.value)"
              class="btn  header__button"
              type="button">Найти</button>
          </div>
        
        </div>
      
      </div>
    </div>
  </nav>
</div>
<app-form (createNote)=" ( inputserch.value = '') && this.onSerch('') "></app-form>

